@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

@layer base {
  * {
    font: inherit;
  }

  body {
    @apply text-body font-gothic;
  }
}

@layer utilities {
  .transition-smooth {
    @apply transition duration-300 ease-in-out;
  }
  .scrollable {
    @apply w-full overflow-x-auto scrollbar-thin scrollbar-thumb-pollloop-coral scrollbar-track-pollloop-brown-01/15 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:rounded-full;
  }
  .text-truncate {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }
}

/* Fonts */
@font-face {
  font-family: 'Iowan';
  src: url('./assets/fonts/iowanoldstyle_bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Common Styles */
html,
body,
#root {
  height: 100%;
}
